




/* SECTION SIX STARTS HERE */
.section-teams {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.team-pro {
    padding: 15px;
    border: 2px solid;
    width: 192px;
    height: 265px;
    margin-top: 87px;
}
.team-pro img {
    width: 100%;
    height: 100%;
}
.team-pro-des {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px
}
.team1 {
    display: none;
}




.section-blog {
    margin-top: 167px;
}
.blog-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    justify-content: center;
}
.blog-updates {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-items {
    /* height: 483px; */
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    margin-top: 30px;
}
.blog-des {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    margin: 16px 0 24px 0;
}

.email input {
    width: 593px;
    height: 60px;
    border: 1.5px solid #AC9675;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 24px;
}
.email-input a {
    width: 149px;
    height: 60px;
    background: #AC9675;
    border-radius: 5px;
}

.section-almost {
    height: 589px;
    background-image: url(/assets/almost2.png);
    padding: 24px 24px 41px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.doe {
    display: flex;
    flex-direction: column;
    align-items: center;
}




small {
    display: flex;
    align-items: center;
    justify-content: center;
}






@media (min-width: 768px) {
    .container-slide {
        background-image: url(/assets/slide2.png);
    }

    .section {
        padding-left: 90px;
        padding-right: 90px;
    }

    .creative {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .creative .image__block__wrapper {
        display: flex;
        justify-content: space-between;
    }
    .creative .image__block {
        margin: 0;
        width: 197px;
        height: 234px;
    }
    .creative .image__block:not(:first-child) {
        margin-top: 0;
        margin-left: 20px;
    }

    .creative .image-full-block {
        display: block;
    }
    .creative .ge {
        display: block;
        position: absolute;
        right: 11px;
        top: 1439px;
    }

    .creative .ge2 {
        display: none;
    }

}

@media (min-width: 1024px) {
    .container-slide {
        padding-left: 100px;
        position: relative;
        margin-bottom: 100px;
        overflow: hidden;
    }
    .contact{
        display: flex;
    }
    .nav-links-wrapper {
        position: relative;
        width: auto;
        height: auto;
        background-color: transparent;
        transform: unset;
        top: 0;
        padding: 0;
        margin: auto;
    }

    .nav-links-wrapper[data-opened=true] {
        transform: unset;
    }
    .menu-btn {
        display: none;
    }
    .nav-links {
        display: flex;
    }
    .navbar {
        align-items: center;
        padding: 24px 0;
    }
    .des {
        width: 100%;
        align-items: unset;
    }
    .slide__desc__header {
        font-size: 45px;
        line-height: 50px;
        text-align: unset;
    }
    .slide__des__content {
        width: 100%;
        text-align: unset;
        padding: 0;
    }
    .slide__des__content span {
        display: block;
    }
    .slide__desc__links {
        display: flex;
        margin-top: 67px;
    }
    .slide__desc__links__item--one {
        margin: unset;
        margin-right: 30px;
    }
    .dot2 {
        margin-top: 100px;
        margin-bottom: 50px;    
    }
    .story {
        height: 622px;
        background-image: url(/assets/sto.png);
        /* margin: auto; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 140px;
        margin: 100px 140px 0 140px;
    }
    .story__content {
        width: 865px;
        height: 464px;
    }
    .story__content p {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
    }
    .our-story {
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
    }
    .story__content__heading img {
        width: 70px;
        height: 64px;
        margin-top: 20px;
    }
    .who {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
    }
    .story__content__parag--two {
        display: block;
    }
    .story__content__parag--one {
        display: none;
    }
    .desk {
        display: flex;
    }
    .mob {
        display: none;
    }
    .image__items p {
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .creative {
        position: relative;
    }
    .por {
        margin-top: unset;
        margin-bottom: unset;
    }
    .creative .ge2 {
        display: none;
    }




    .pricing-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: unset;
        justify-content: space-between;
    }
    .pricing-wrapper .pricing:not(:first-child) {
        margin-top: unset;
    }
    
    

    .section-teams {
        align-items: unset;
        margin-top: 80px;
    }
    .teams {
        margin: auto;
        width: 709px;
        height: 200px;
    }
    .teams img {
        width: 100%;
        height: 100%;
    }
    .team-grid {
        display: flex;
        justify-content: space-between;
    }
    .team-pro {
        width: unset;
        height: unset;
    }
    




    .blog-updates {
        /* display: flex; */
        flex-direction: row;
        justify-content: space-between;
    }
    .blog-items {
        width: 270px;
    }
    .re {
        width: 100%;
        color: #FFFFFF;
        margin: auto;
    }




    .email {
        margin-top: 24px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .email p {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
    }




    .section-almost {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/almost.png);
        height: 515px;
    }
    .almost-par {
        width: 1155px;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        display: flex;
        justify-content: center;
    }



    .foot-des {
        display: flex;
        justify-content: space-between;
    }
    .foot-des p {
        font-weight: 400;
        font-size: 9px;
        line-height: 29px;
        width: 477px;
        height: 144px;
    }
    .foot-logo {
        padding: 50px 0 24px 0;
        width: 114px;
        height: 124px;
    }
    .social-media-links {
       display: flex; 
        justify-content: space-between;
        width: 288px;
        height: 46px;
    }
    .social-media-links li img {
        width: 17px;
        height: 19px;
    }
    
}
@media (min-width: 1024px) and (max-width: 1279px) {
    .creative .image__block {
        width: 250px;
        height: 263px;
    }
    .creative .ge {
        display: block;
        position: absolute;
        right: 22px;
        top: 193px;
    }
    .pricing {
        width: 196px;
    }
    .team-profile {
        max-width: 196px;
    }
    .team-pro {
        max-width: 100%;
    }
    .team-pro img {
        max-width: 100%;
        max-height: 100%;
    }
    
}
@media (min-width: 1280px) {
    .dot {
        margin-top: 60px;
    }
    .slide__desc__header {
        font-size: 63px;
        line-height: 68px;        
        text-align: unset;
    }

    .section {
        padding-left: 140px;
        padding-right: 140px;
    }
    .creative {
        display: flex;
        justify-content: space-between;
    }
    .creative .right {
        display: block;
    }
    .creative .ge {
        display: block;
        position: absolute;
        right: 473px;
        top: 185px;
        /* z-index: -0.9; */
    }



    .pricing {
        width: 242px;
    }


    .team-profile {
        max-width: 269px;
    }



    .blog-items {
        width: 315px;
    }


    .foot-des p {
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        width: 570px;
        height: 144px;
    }
    .social-media-links li img {
        width: 42px;
        height: 46px;
    }




}

@media (min-width: 1440px) {
    .nav-links-wrapper {
        margin: auto;
        /* padding-left: 140px; */
    }
    .container-slide {
        padding-left: 120px;
    }

}
