$primary-color: #000000;
$secondary-color: rgba(24, 24, 24, 0.3);
$link-color: rgba(172, 150, 117, 1);
$text-color: #ffffff;
.section {
    padding-left: 24px;
    padding-right: 24px;
    @media (min-width: 768px) {
            padding-left: 90px;
            padding-right: 90px;
    }
    @media (min-width: 1280px) {
            padding-left: 140px;
            padding-right: 140px;
    }  
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.body__wrapper {
    background-color: $primary-color;
    color: $text-color;
}
.top {
    width: 100%;
    // background-color: $secondary-color;
    color: $text-color;
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    & :first-child {
        color: $text-color;
    }
    & .contact {
        display: none;
    }    
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 24px 0;
    &__links__wrapper {
        position: fixed;
        top: 50px;
        left: 0;
        width: 250px;
        height: 100vh;
        padding: 40px 30px;
        transform: translateX(-250px);
        transition: transform linear 300ms;
        background-color: #181818;
        .navbar__links_item {
            padding: 30px;
            & a{
                color: #FFFFFF;
            }
        }  
        .navbar__links__wrapper[data-opened=true] {
            transform: translateX(0px);
        }
    }
}
.slide {
    width: 100vw;
    height: 100vh;
    background: $secondary-color  url(/dist/assets/slide.png);
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    &__desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 291px;
        height: 135px;
        margin: auto;
        &__content {
            width: 328px;
            height: 108px;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            color: rgb(251, 250, 250);
            padding: 0 24px;
            margin-top: 24px;
            & span {
                display: none;
            }    
        }
        &__header {
            font-weight: 700;
            font-size: 30px;
            line-height: 45px;
            text-align: center;
            color: #FFFFFF;
            margin-top: 70px;
        }
        &__links__item--one {
            height: 42px;
            width: 197px;
            background-color: #AC9675;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 45px 0 24px 0;
            border-radius: 5px;
        }
        &__links__item--two {
            width: 197px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: 1.5px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 5px;
            color: #FFFFFF;
            border-radius: 5px;
        }
    }
}
.dot {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.dot img {
    width: 12px;
    height: 12px;
    margin-right: 25px;
}
.dot2 {
    margin: auto;
    /* margin-top: 100px; */
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.dot2 img{
    width: 12px;
    height: 12px;
    margin-right: 25px;
}
@media (min-width: 768px) {
    .slide {
        background-image: url(../assets/slide2.png);
    }
}
@media (min-width: 1024px) {
    .contact{
        display: flex;
    }
    .slide {
        padding-left: 100px;
        position: relative;
        margin-bottom: 100px;
        overflow: hidden;
    }
    .navbar {
        align-items: center;
        padding: 24px 0;
        &__links__wrapper {
            position: relative;
            width: auto;
            height: auto;
            background-color: transparent;
            transform: unset;
            top: 0;
            padding: 0;
            margin: auto;
            .navbar__links {
                display: flex;
            }
        }
        &__links__wrapper[data-opened=true] {
            transform: unset;
        }
        .menu-btn {
            display: none;
        }
    }
    .slide__desc {
        width: 100%;
        align-items: unset;
        &__header {
            font-size: 45px;
            line-height: 50px;
            text-align: unset;
        }
        &__content {
            width: 100%;
            text-align: unset;
            padding: 0;
        }
        &__content span {
            display: block;
        }
        &__links {
            display: flex;
            margin-top: 67px;
            &__item--one {
                margin: unset;
                margin-right: 30px;
            }
        }
    }
}
@media (min-width: 1280px) {
    .dot {
        margin-top: 60px;
    }
    .slide__desc__header {
        font-size: 63px;
        line-height: 68px;        
        text-align: unset;
    }
}
@media (min-width: 1440px) {
    .nav-links-wrapper {
        margin: auto;
    }
    .slide {
        padding-left: 120px;
    }
}


/* SECTION TWO STARTS HERE */
.story {
    position: relative;
    margin: 50px 24px 0px;
    padding: 48px 41px;
    background-image: url("/dist/assets/2.png");
    &__content {
        background: rgba(242, 242, 241, 0.9);
        color: #000000;
        padding: 28px;
        &__heading {
            margin-bottom: 42px;
            display: flex;
            & img {
                width: 61px;
                height: 64px;
            }
        }
        &__title {
            margin-left: 6px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .our-story {
            font-weight: 600;
            font-size: 24px;
            padding: 8px 0;
        }
        & :nth-child(4) {
            margin-bottom: 50px;
        }
        & :nth-child(5) {
            margin-bottom: 20px;
        }
        /* .story__content p:nth-child(2) {
            margin-bottom: 30px;
        } */
        & p {
            font-size: 16px;
            font-weight: 400;
        }
        &__parag--two {
            display: none;
        }
        & a {
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            color: #000000;
        }
    }
}
@media (min-width: 1024px) {
    .story {
        height: 622px;
        background-image: url(../assets/sto.png);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 140px;
        margin: 100px 140px 0 140px;
        &__content {
            width: 865px;
            height: 464px;
            &__heading img {
                width: 70px;
                height: 64px;
                margin-top: 20px;
            }
            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
            }
            &__parag--two {
                display: block;
            }
            &__parag--one {
                display: none;
            }
        }
        .our-story {
            font-weight: 600;
            font-size: 36px;
            line-height: 54px;
        }
        .who {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
        }
    }
}


/* SECTION THREE STARTS HERE */
.blockone {
    background-image: url('/dist/assets/3.png');
}
.blocktwo {
    background-image: url('/dist/assets/4.png');
}
.blockthree {
    background-image: url('/dist/assets/5.png');
}
.creative {
    @media (min-width: 768px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media (min-width: 1024px) {
        position: relative;
    }
    @media (min-width: 1280px) {
        display: flex;
        justify-content: space-between;
    }
    .small-title {
        color: #AC9675;
        font-weight: 400;
        font-size: 16px;
        padding: 4px 0px;
    }
    .big-title {
        font-weight: 600;
        font-size: 24px;
        color: #FFFFFF;
        padding-bottom: 16px;
    }
    .image__block__wrapper {
        padding: 38px 0 0;
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
        .image__block {
            height: 307px;
            width: 319px;
            margin: 0 auto;
            position: relative;
            margin-top: 55px;
            @media (min-width: 768px) {
                margin: 0;
                width: 197px;
                height: 234px;
                :not(:first-child) {
                    margin-top: 0;
                    margin-left: 20px;
                }
            }
            @media (min-width: 1024px) and (max-width: 1279px) {
                width: 250px;
                height: 263px;
            }
            img {
                max-width: 100%;
                max-height: 100%;
            }
            &--inner {
                position: absolute;
                width: 279px;
                height: 275px;
                left: 21px;
                top: 15px;
                background-color: rgba(0, 0, 0, 0.7);
                padding: 34px 27px 30px 28px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .inner-1st-text {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 36px;
                }
                .inner-2nd-text {
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 20px;
                    margin-top: 20px;
                    margin-bottom: 59px;
                    width: 142px;
                    height: 60px;
                    text-align: center;
                    color: rgba(196, 196, 196, 1);
                }
                .image__block--inner a {
                    width: 149px;
                    height: 42px;
                    background: rgba(172, 150, 117, 1);
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }    
            }
            :not(:first-child) {
                margin-top: 42px;
            }
        }
    }
    .image-full-block {
        display: none;
        width: 100%;
        margin-top: 22px;
        height: 234px;
        background-image: url(../assets/7.png);
        @media (min-width: 768px) {
            display: block;
        }
    }
    .right {
        display: none;
        width: 409px;
        margin-left: 84px;
        background-image: url('/dist/assets/6.png');
        @media (min-width: 1280px) {
            display: block;
        }
    }
    .ge {
        display: none;
        @media (min-width: 768px) {
            display: block;
            position: absolute;
            right: 11px;
            top: 1439px;
        }
        @media (min-width: 1280px) {
            display: block;
            position: absolute;
            right: 473px;
            top: 185px;
        }
        @media (min-width: 1024px) and (max-width: 1279px) {
            display: block;
            position: absolute;
            right: 22px;
            top: 193px;
        }
    }
    .ge2 {
        position: absolute;
        display: flex;
        align-self: center;
        left: 0;
        right: 0;
        margin: auto;
        @media (min-width: 768px) {
            display: none;
        }
        @media (min-width: 1024px) {
            display: none;
        }
    }
}

.por {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 43px;
    margin-bottom: 17px;
    @media (min-width: 1024px) {
            margin-top: unset;
            margin-bottom: unset;
    }   
}

/* SECTION FOUR STARTS HERE */
.minislide {
    width: 100%;
    .minislide__image__wrapper {
        display: flex;    
        margin-bottom: 100px;
        /* width: 100%; */
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .minislide__image__wrapper :not(:last-child) {
            margin-right: 16px;    
        }
    }
}
.desk {
    display: none;
}
@media (min-width: 1024px) {
    .dot2 {
        margin-top: 100px;
        margin-bottom: 50px;    
    }

    .desk {
        display: flex;
    }
    .mob {
        display: none;
    }
    .image__items p {
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// SECTION FIVE STARTS HERE
.pricing {
    width: 269px;
    box-shadow: 0px 8px 8px rgba(255, 255, 255, 0.1);
    padding: 60px 40px;
    text-align: center;
    @media (min-width: 1024px) and (max-width: 1279px) {
        width: 196px;
    }
    @media (min-width: 1280px) {
        width: 242px;
    }
}
.section5 {
    &.small-title, &.big-title {
        text-align: center;
    }
    
    &.description {
        font-size: 18px;
        text-align: center;
        margin-top: 24px;
    }
}
.card-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 42px;
    padding: 0 0 50px;
    .pricing.card:not(:first-child) {
        margin-top: 30px;
    }
    .card {
        color: $primary-color;
        background: rgba(255, 255, 255, 0.8);
        &--popular {
            background: #AC9675;
        }
        &__title {
            font-size: 18px;
            font-weight: 600;
            line-height: 27px;
        }
        &__price {
            display: inline-block;
            font-size: 36px;
            line-height: 54px;
            font-weight: 600;
            margin-top: 25px;
            position: relative;
            color: #000000;
        }
        &__price::before {
            display: block;
            content: "$";
            position: absolute;
            left: -10px;
            top: -10px;
            font-size: 18px;
            font-weight: 600;
            color: #000000;
        }
        &__features {
            margin-top: 42px;
            & li {
                padding: 6px;
                font-weight: 400;
                font-size: 16px;
            }
            & li:not(:first-child) {
                border-top: 1px solid rgba(0, 0, 0, 0.3);
            }
        }
    }
}
@media (min-width: 1024px) {
    .card-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: unset;
        justify-content: space-between;
        .pricing:not(:first-child) {
            margin-top: unset;
        }
    }
}

/* SECTION SIX STARTS HERE */
.section-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 1024px) {
        align-items: unset;
        margin-top: 80px;
    }
}
.team__image {
    @media (min-width: 1024px) {
        margin: auto;
        width: 709px;
        height: 200px;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    .team1 {
        display: none;
    }
}
.team {
    @media (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
    }
    &__pro {
        @media (min-width: 1024px) and (max-width: 1279px) {
            max-width: 196px;
        }
        @media (min-width: 1280px) {
            max-width: 269px;
        }
        &--image{
            padding: 15px;
            border: 2px solid;
            width: 192px;
            height: 265px;
            margin-top: 87px;
            @media (min-width: 1024px) {
                width: unset;
                height: unset;
            }
            @media (min-width: 1024px) and (max-width: 1279px) {
                max-width: 100%;
            }
        }
        &--image img {
            width: 100%;
            height: 100%;
            @media (min-width: 1024px) and (max-width: 1279px) {
                max-width: 100%;
                max-height: 100%;
            }
        }
        &--des {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 16px
        }
    }
}


// SECTION SEVEN STARTS HERE
.blog {
    margin-top: 167px;
    margin-bottom: 98px;
    &__updates {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (min-width: 1024px) {
            /* display: flex; */
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        display: flex;
        justify-content: center;
    }
    &-items {
        /* height: 483px; */
        margin: auto;
        border: 1px solid #EEEEEE;
        box-sizing: border-box;
        margin-top: 30px;
        @media (min-width: 768px) {
            width: 443px;
        }
        @media (min-width: 1024px) {
            width: 270px;
        }
        @media (min-width: 1280px) {
            width: 315px;
        }
        &__image {
            width: 100%;
            height: 100%;
        }
        &__des {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 45px;
            margin: 16px 0 24px 0;
        }
    }
    .re {
        display: none;
        @media (min-width: 1024px) {
            width: 100%;
            color: #FFFFFF;
            margin: auto;
            display: flex;
        }
    }
}

.email {
    @media (min-width: 1024px) {
            margin-top: 24px;
            margin-bottom: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
        }
    }
    input {
        width: 100%;
        height: 42px;
        border: 1.5px solid #AC9675;
        box-sizing: border-box;
        border-radius: 5px;
        padding-left: 24px;
        background-color: transparent;
        margin: 20px auto;

        // display: flex;
        // align-self: center;
        @media (min-width: 768px) {
            width: 362px;
        }
        @media (min-width: 1024px) {
            width: 593px;
            height: 60px;
        }
    }
    .email__input--par {
        width: 149px;
        height: 60px;
        background: $link-color;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: $text-color;
        margin-bottom: 50px;
    }
}


// SECTION EIGHT STARTS HERE
.almost {
    height: 589px;
    background-image: url(../assets/almost2.png);
    padding: 24px 24px 41px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 1024px) {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/almost.png);
        height: 515px;
        &__par {
            width: 1155px;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            display: flex;
            justify-content: center;
        }
    }
    &__doe {
        display: flex;
        flex-direction: column;
        align-items: center;
        .first-par {
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 10px;
        }
        .second-par {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
        }
    }
}
.dot-end img {
    width: 6px;
    height: 6px;
    .mid {
        margin: 0 25px;
    } 
}


// FOOTER BEGINS HERE
.footer {
    padding-bottom: 40px;
}
.footer__logo {
    display: flex;
    // align-items: center;
    justify-content: center;
}
.footer__logo img {
    width: 114px;
    height: 124px;
    margin: 50px 0 23px;
}
.footer__desc p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    span {
        color: $link-color;
    }
}
.footer__desc__links {
    display: flex;
    justify-content: space-between;
    padding: 0 46px;
    .links {
        margin-top: 44px;
        margin-bottom: 46px;
    }
    .links img {
        width: 30px;
        height: 36px;
    }
}
small {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #C4C4C4;
}
@media (min-width: 1024px) {
    .footer__desc {
        display: flex;
        justify-content: space-between;
    }
    .footer__desc p {
        font-weight: 400;
        font-size: 9px;
        line-height: 29px;
        width: 477px;
        height: 144px;
    }
    .footer__logo {
        padding: 50px 0 24px 0;
        width: 114px;
        height: 124px;
    }
    .footer__desc__links {
       display: flex; 
        justify-content: space-between;
        width: 288px;
        height: 46px;
    }
    .footer__desc__links li img {
        width: 17px;
        height: 19px;
    }
    
}

@media (min-width: 1280px) {
    .footer__desc p {
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        width: 570px;
        height: 144px;
    }
    .footer__desc__links li img {
        width: 42px;
        height: 46px;
    }
}